body {
	font-family: 'Arvo', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*================
		Navbar
==================*/

#navbar ul {
	margin: 1em;
}

#navbar li {
	display: inline-block;
	margin-right: 2em;
	margin-left: 2em;
}

/*================
		Home
==================*/

#home {
	height: 75vh;
	width: 100vw;
	position: relative;
	text-align: center;
	color: #eee;
	background: url(https://scontent-sea1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1471821_551622951595315_1813856739_n.jpg?oh=92e998b6dd642e8a4108f067ff68d9c1&oe=56DE2322);
}

#home > div:not(.content) {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#home h1 {
	font-size: 4em;
}

#home h2 {
	font-size: 2em;
}

/*================
		About
==================*/
#about {
	width: 100vw;
	height: 100vh;
	color: white;
}

#about h2 {
	text-align: right;
	font-size: 35pt;
	margin-top: 0;
	margin-right: 40pt;
	padding-top: 30pt;
	margin-bottom: 5%;
	z-index: -1;
}

#about p {
	font-size: 15pt;
	margin: 30pt 60pt;
	padding: 30pt 10pt;
	z-index: -1;
}

#about .desc {
	z-index: -1;
	width: 90%;
	background-color: #66CCFF;
	border-radius: 5px 100px 5px;
}

#about .content {
	z-index: -1;
	height: 100%;
	background-color: #33CCFF;
}

#about .back{
	font-size: 60pt;
	width: 100%;
	height: 100%;
	position: absolute;
	color: #000066;
	-webkit-text-stroke: 1px white;
}

#about .date{
	position: absolute;
	left: 50px;
	top: 55px;
	display: inline-block;
}

#about .loc{
	position: absolute;
	right: 50px;
	bottom: 55px;
	display: inline-block;
}

#about .date:hover, .loc:hover {
	color: white;
}

/*================
		Performances
==================*/
#performances {
	margin-top: 3em;
	width: 100vw;
	position: relative;
}

#performances > div {
	text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

#performances h2 {
	text-align: center;
	font-size: 3em;
}

#performances .content {
	text-align: center;
}

#performances .perf {
	width: 25%;
	margin: 2%;
	display: inline-block;
}

#performances .img-perf {
	width: 100%;
}

#performances .perf:nth-child(1) .img-perf {
	background: url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/13399_841994799224794_2535555254597318490_n.jpg?oh=1adc12e44d933535e5b94041f258e883&oe=572069EE);
	background-size: auto 100%;
}

#performances .perf:nth-child(2) .img-perf {
	background: url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfa1/v/t1.0-9/11218482_841994449224829_3505339519654478986_n.jpg?oh=f627ec34f8c6a6814c6262a2a1b07a70&oe=571F08E6);
	background-size: auto 100%;
}

#performances .perf:nth-child(3) .img-perf {
	background: url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xta1/v/t1.0-9/11145909_841993619224912_1839291422370191344_n.jpg?oh=ffeb5276863e938c37f68813158d1ab2&oe=56ED283A);
	background-size: auto 100%;
}

#performances .img-perf:before {
	content: "";
	display: block;
	padding-top: 100%;
}

#performances .desc {
	background-color: #ddd;
}

#performances .content {
	max-height: 0;
	overflow: hidden;
	padding: 1em;
	transition: max-height 1s ease-in-out;
}

#performances .img-perf:hover + .content {
	max-height: 1000px;
	transition: max-height 1s ease-in-out;
}

/*================
		Food
==================*/
#food {
	text-align: center;
	margin-bottom: 10%;
}

#food h2{
	font-size: 30pt;
	margin-bottom: 5%;
}

#food ul{
	font-size: 1.5em;
	width: 33%;
	display: inline-block;
	list-style-type: none;
}

/*================
		Games
==================*/
#games {
	text-align: center;
}

#games h2 {
	font-size: 30pt;
}

#games .content{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 12%;
}

#games .items{
	width: 20%;
	display: inline-block;
	height: 150px;
	border-radius: 5px 20px 5px;
	background-color: #bada55;
	padding-top: 40px;
	margin: 2%;
	-webkit-filter:grayscale(80%);
}

#games .items span {
	z-index: 10;
	display: none;
	font-size: 12pt;
}

#games .items:hover {
	-webkit-filter: none;
}

#games .items:hover span{
	display: inline;
	position: absolute;
	width: 200px;
	margin-top: 65px;
	margin-left: -100px;
	padding: 10pt 15pt;
}

/*================
		Info Booth
==================*/

#info {
	text-align: center;
	font-size: 1.5em;
}

#info p {
	display: inline-block;
	width: 35%;
}

#info p:nth-child(2) {
	text-align: right;
}

#info p:nth-child(4) {
	text-align: left;
}

#info #que {
	display: inline-block;
	width: 10em;
	height: 10em;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	color: white;
	position: relative;
	vertical-align: middle;
	margin: 1em;
}

#info #que h2 {
	margin: 0;
	font-size: 5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
