body {
	font-family: 'Arvo', sans-serif;
}

.containers {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*================
		Home
==================*/

#home {
	height: 100vh;
	width: 100vw;
	text-align: right;
}

#home h1 {
	font-size: 5em;
}

/*================
		Performances
==================*/
#performances {
	height: 100vh;
	width: 100vw;
	text-align: right;
}

#performances .desc {
	width: 50%;
	margin-left: 50%;
}

