@font-face {
    font-family: Geared;
    src: url(GearedSlab.ttf);
}

@font-face {
    font-family: GearedLight;
    src: url(GearedSlab-Light.ttf);
}

@font-face {
    font-family: Octin;
    src: url("octin sports rg.ttf");
}

@font-face {
    font-family: Seils;
    src: url("SEILS SANS ITALIC.otf");
}


@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

html {
	height: 100%;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0pt;
	padding: 0pt;
}

.hidden-bg img {
	width: 100vw;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

/*==============
		Loader
================*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #222222;
    transition: all 1.5s ease;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-right-color: #ddd;
    z-index: 1500;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	transition: all 1s ease;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: rgb(115, 179, 181);
    border-left-color: rgb(115, 179, 181);
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: rgb(114, 113, 117);
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

/*=======================
		Menu
=========================*/
#menu {
	position: fixed;
	z-index: 2;
	top: 20pt;
	font-family: 'Geared';
}

.navicon {
    position: relative;
    display: inline-block;
}

.navicon .lists {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
    font-size: 15pt;
    min-width: 115px;
    border-radius: 0 10px 10px 0;
}

.navicon:hover .lists {
    display: block;
    border-radius: 0 10px 10px 0;
}

.navicon button {
    background: #E9F1F3;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    border-radius: 0 10px 10px 0;
}

.navicon a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background-color: rgb(216, 217, 221);
}

.navicon a:hover {
    color: #E9F1F3;
}


/*=======================
		Home
=========================*/
#home {
	text-align: center;
	position: relative;
	background-image: url("img/permias website-06.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
}

#home .content img {
	width: 26vw;
}

#home .content {
	width: 100%;
	padding-top: 5.4em;
}

#home h1 {
	font-size: 80px;
	letter-spacing: 0.2px;
	margin-top: 0.16em;
	color: rgb(186, 187, 188);
	font-family: 'Octin';
}

#home h2 {
	font-family: 'Seils';
	margin-top: -20px;
	font-size: 35px;
	letter-spacing: 0.1px;
	color: rgb(186, 187, 188);
}

#home h3 {
	font-size: 46px;
	margin-top: 14px;
	margin-bottom: 0;
	color: white;
}

#home h3#loc {
	margin-top: -10px;
	letter-spacing: -0.2px;
}

#home h4 {
	color: #ddd;
}


/*=======================
		About
=========================*/
#about {
	text-align: center;
	position: relative;
	background-image: url("img/permias website-07.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
}

#about .content {
	padding-top: 75px;
}

#about h2 {
	font-size: 64px;
	letter-spacing: 6px;
	border: 1px solid white;
	outline: 1px solid black;
	padding-top: 21px;
	padding-bottom: 4px;
	padding-left: 123px;
	padding-right: 123px;
	display: inline-block;
	color: rgb(115, 179, 181);
}

#about .desc {
	padding-top: 28px;
}

#about p {
	background-color: rgb(216, 217, 221);
	display: inline-block;
	width: 33%;
    margin: 1.5%;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

/*=======================
		Registration
=========================*/

#registration {
	position: relative;
	background-image: url("img/permias website-08.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
    text-align: center;
}

#registration h2 {
	font-size: 4.8em;
	letter-spacing: 5px;
	border: 1px solid rgb(110, 177, 179);
	outline: 1px solid rgb(171, 171, 176);
	padding-top: 21px;
	padding-bottom: 4px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	display: inline-block;
	color: rgb(114, 113, 117);
}

#registration .content {
	padding-top: 5.3em;
}

#registration p {
	font-size: 1.75em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#registration ul {
	font-size: 2em;
	list-style: none;
	padding: 0;
}

/*=======================
		Teams
=========================*/

#teams {
	position: relative;
	background-image: url("img/permias website-09.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Geared';
	text-align: center;
}

#teams .content {
	padding-top: 5em;
}

#teams h2{
	font-size: 60px;
	color: white;
    border: 1px solid rgb(110, 177, 179);
    outline: 1px solid rgb(116, 135, 139);
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
    letter-spacing: 5px;
}

#teams .lists{
	padding: 0.5em;
}

#teams ul {
    list-style-type: none;
    width: 33%;
    display: inline-block;
    padding: 0px;
    margin: 2.5%;
    text-align: center;
    font-size: 25px;
}

#teams li {
	background-color: rgb(217, 218, 222);
    margin: 15px;
    padding-left: 20px;
    /*color: rgb(175, 174, 180); */
}

#teams p {
	font-size: 35px;
    margin-top: 40px;
}


/*===============
		MOBILE
=================*/
@media only screen and (max-device-width: 600px) {
	#home {
		z-index: 1;
	}

	#home img {
		width: 25vw;
	}

	#home h1 {
		font-size: 80px;
	}

	#home h3 {
		font-size: 35px;
		margin-top: 12px;
	}

	#about {
		z-index: -1;
	}

	#about p {
		width: 40%;
		font-size: 22px;
	}

	#registration p {
		font-size: 30px;
    	margin-top: 1em;
    	margin-bottom: 1em;
	}

	#registration ul {
	    font-size: 3em;
	    list-style: none;
	    padding: 0;
	}
}