@font-face {
    font-family: Geared;
    src: url(GearedSlab.ttf);
}

@font-face {
    font-family: GearedLight;
    src: url(GearedSlab-Light.ttf);
}


html {
	height: 100%;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0pt;
	padding: 0pt;
}

.hidden-bg img {
	width: 100vw;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax-layer-base {
  transform: translateZ(0);
}
.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}


/*=======================
		Home
=========================*/
#home {
	text-align: center;
	position: relative;
	background-image: url("img/permias website-06.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
}

#home .content img {
	width: 26vw;
}

#home .content {
	width: 100%;
	padding-top: 5.4em;
}

#home h1 {
	font-size: 91px;
	letter-spacing: 0.2px;
	margin-top: 0.16em;
	color: rgb(186, 187, 188);
}

#home h2 {
	font-family: 'GearedLight';
	margin-top: -32px;
	font-size: 33px;
	letter-spacing: 0.1px;
	color: rgb(186, 187, 188);
}

#home h3 {
	font-size: 46px;
	margin-top: 14px;
	margin-bottom: 0;
	color: white;
}

#home h3#loc {
	margin-top: -10px;
	letter-spacing: -0.2px;
}


/*=======================
		About
=========================*/
#about {
	text-align: center;
	position: relative;
	background-image: url("img/permias website-07.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
}

#about .content {
	padding-top: 75px;
}

#about h2 {
	font-size: 64px;
	letter-spacing: 6px;
	border: 1px solid white;
	outline: 1px solid black;
	padding-top: 21px;
	padding-bottom: 4px;
	padding-left: 123px;
	padding-right: 123px;
	display: inline-block;
	color: rgb(115, 179, 181);
}

#about .desc {
	padding-top: 28px;
}

#about p {
	background-color: rgb(216, 217, 221);
	display: inline-block;
	width: 33%;
    margin: 1.5%;
    padding: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

/*=======================
		Registration
=========================*/

#registration {
	position: relative;
	background-image: url("img/permias website-08.png");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Geared';
    text-align: center;
}

#registration h2 {
	font-size: 4.8em;
	letter-spacing: 5px;
	border: 1px solid rgb(110, 177, 179);
	outline: 1px solid rgb(171, 171, 176);
	padding-top: 21px;
	padding-bottom: 4px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	display: inline-block;
	color: rgb(114, 113, 117);
}

#registration .content {
	padding-top: 5.3em;
}

#registration p {
	font-size: 1.75em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#registration ul {
	font-size: 2em;
	list-style: none;
}

/*=======================
		Teams
=========================*/

#teams {
	position: relative;
	background-image: url("img/permias website-09.png");
	background: 100%;
	background-repeat: no-repeat;
	font-family: 'Geared';
	text-align: center;
}

#teams .content {
	padding-top: 15%;
	height: 150vh;
}

#teams ul {
	list-style-type: none;
}

#teams .teams1 {
	font-size: 2.5em;
	position: absolute;
	top: 7em;
	right: 0;
	width: 20vw;
	height: 60vh;
	text-align: left;
}

#teams .teams2 {
	font-size: 2.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20vw;
	height: 60vh;
}